<div class="container">
  <div class="header">Taks App</div>

  <!-- Filtr panel -->
  <mat-button-toggle-group
    name="filter"
    [(ngModel)]="filterOption"
    (ngModelChange)="onFilterChange($event)"
    aria-label="Filtr zadań"
    class="filter-group"
  >
    <mat-button-toggle value="ALL">All task</mat-button-toggle>
    <mat-button-toggle value="COMPLETED">Finished</mat-button-toggle>
    <mat-button-toggle value="INCOMPLETE">UnFinished</mat-button-toggle>
    <mat-button-toggle value="HOME">Home</mat-button-toggle>
    <mat-button-toggle value="WORK">Work</mat-button-toggle>
  </mat-button-toggle-group>

  <!-- Form add new task -->
  <form class="add-form" (ngSubmit)="addTask()">
    <mat-form-field appearance="outline">
      <input
        matInput
        placeholder="New Task"
        [(ngModel)]="newTask.title"
        name="title"
        required
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-select
        placeholder="Label"
        [(ngModel)]="newTask.labelId"
        name="labelId"
        required
      >
        <mat-option *ngFor="let label of labels" [value]="label.id">
          {{ label.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">
      Add
    </button>
  </form>

  <!-- List task -->
  <div *ngFor="let task of tasks" class="task-item">
    <!-- view normal -->
    <ng-container *ngIf="editingTaskId !== task.id; else editMode">
      <span
        class="task-label"
        [ngClass]="{ completed: task.completed }"
      >
        {{ task.title }}
      </span>

      <mat-form-field appearance="outline" class="label-select">
        <mat-select
          [value]="task.labelId"
          (selectionChange)="onLabelChange(task, $event.value)"
        >
          <mat-option *ngFor="let label of labels" [value]="label.id">
            {{ label.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <input
        type="checkbox"
        [checked]="task.completed"
        (change)="toggleCompleted(task)"
      />

      <span class="action-btns">
        <button
          mat-icon-button
          color="accent"
          (click)="startEdit(task)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          color="warn"
          (click)="deleteTask(task)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </span>
    </ng-container>

    <!-- Edit view -->
    <ng-template #editMode>
      <mat-form-field appearance="outline" class="edit-title">
        <input
          matInput
          [(ngModel)]="editTask.title"
          [name]="'editTitle' + task.id"
          required
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="edit-label">
        <mat-select
          [(ngModel)]="editTask.labelId"
          [name]="'editLabel' + task.id"
          required
        >
          <mat-option *ngFor="let label of labels" [value]="label.id">
            {{ label.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <span class="action-btns">
        <button
          mat-icon-button
          color="primary"
          (click)="saveEdit(task)"
        >
          <mat-icon>check</mat-icon>
        </button>
        <button
          mat-icon-button
          color="default"
          (click)="cancelEdit()"
        >
          <mat-icon>close</mat-icon>
        </button>
      </span>
    </ng-template>
  </div>
</div>
